@font-face {
    font-family: "dragon";
    src: url(dragon.ttf);
}
body {
    margin: 0;
    padding: 0;
}
.logoMarca {
    /* background: silver; */
    text-align: center;
    text-shadow: 0px 1px 3px black;
    color: gold;
    height: 45px;
    padding-top: 10px;
    font-family: "dragon";
    font-size: 30px;
}
.pergunta {
    width: 89%;
    display: inline-block;
    padding-left: 3px;
}
.quest {
    width: 10%;
    display: inline-block;
    vertical-align: top;
}
#app {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
    font-family: arial;
    background: url(show-background.jpg) no-repeat ;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    #app {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        font-size: 2em;
        font-weight: bold;
        overflow: hidden;
        font-family: arial;
        background: url(show-background.jpg) no-repeat ;
        background-size: cover;
        font-size: 1.2em;
    }
}

.titulo {
    width: 90%;
    padding: 10px;
    /* box-shadow: 0px 2px 5px black; */
    background: red;
    color: white;
    text-align: justify;
    margin: 0 auto;
    margin-top: 10px;
}
.respostas {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 900px;
    background:  rgb(10, 10, 10, 0.5);
    padding-top: 50px;
}
.resposta {
    margin: 0 auto;
    box-shadow: 1px 1px 2px black;
    margin-top: 20px;
    width: 90%;
    background: blue;
    color: white;
    padding: 10px;
    border-radius: 0px 30px 0px;
    min-height: 70px;
}
.indice {
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
    padding: 5px 10px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 0px 10px 0  ;
    
}
.corretaCor {
    background-color: green;
}
#modal{
    position: fixed;
    width: 50%;
    height: 99vh;
    border: 1px solid rgba(10, 10, 10, 0.5);
    overflow: hidden;
    background-color: rgba(10, 10, 10, .7);
    text-align: center;
    display: none;
}
.content {
    background: white;
    width: 400px;
    height: 120px;
    margin: 0 auto;
    margin-top: 40vh;
}
.content button {
    min-width: 100px;
    background: silver;
    padding: 10px;
    text-transform: uppercase;
}
.modalBackground {
    position: fixed;
    width: 100%;
    height: 98vh;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}
.modalCorpo {
    margin: 0 auto;
    margin-top: 40vh;
    background: white;
    width: 50%;
    min-height: 145px;
    background: url(show-background.jpg) no-repeat ;
    background-size: cover;
    box-shadow: 1px 1px 20px white;
    z-index: 999;
}
.modalCorpo h5 {
    text-align: center;
    text-shadow: 0px 1px 5px black;
    color: gold;
    height: 45px;
    padding-top: 10px;
    font-family: "dragon";
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
}
.areaButton {
    width: 90%;
    height: 50px;
    margin-left: 10%;
}
.areaButton button{
    font-size: 0.6em;
    width: 90%;
    height: 30px;
    font-family: "dragon";
    color: white;
    text-shadow: 0px 1px 3px black;
    background: rgb(57, 57, 150) no-repeat center;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.areaLogin {
    width: 90%;
    min-width: 150px;
    margin: 0 auto;
    background: rgba(90, 90, 90, 0.5);
    margin-top: 35vh;
    overflow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}
input::placeholder {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: bolder;
}
.areaLogin button{
    font-size: 0.6em;
    width: 90%;
    height: 30px;
    font-family: "dragon";
    color: white;
    text-shadow: 0px 1px 3px black;
    background: rgb(57, 57, 150) no-repeat center;
    margin-left: 5%;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.areaLogin input {
    height: 20px;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 5%;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    text-transform: uppercase;
}
input:focus {
    border: none !important;
    border-bottom: white;
}
input:focus-visible {
    box-shadow: none !important;
    border: none !important;
}
.user {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 3px black;
    color: gold;
    font-family: dragon;
    font-size: 1.2em;

}